<xf:if is="$field instanceof '\SV\CustomFieldPerms\IFieldPerm'">
	<xf:macro name="permission"
			  arg-field="{{ $field }}"
			  arg-fieldName="v_input"
			  arg-headerPhrase="{{ phrase('svCustomFieldPerms_input_permissions') }}"
			  arg-headerDescPhrase="{{ phrase('svCustomFieldPerms_input_permissions_explain') }}"
			  arg-bypassPermission="o_input_bypass"
			  arg-bypassPermPhrase="{{ phrase('svCustomFieldPerms_input_content_owner_bypass_explain') }}"
			  />
	<xf:macro name="permission"
			  arg-field="{{ $field }}"
			  arg-fieldName="v_output_pp"
			  arg-headerPhrase="{{ phrase('svCustomFieldPerms_output_permissions_viewer_profile') }}"
			  arg-headerDescPhrase="{{ phrase('svCustomFieldPerms_output_permissions_viewer_profile_explain') }}"
			  />

	<xf:macro name="permission"
			  arg-field="{{ $field }}"
			  arg-fieldName="v_output_ui"
			  arg-headerPhrase="{{ ($field instanceof '\XF\Entity\UserField') ? phrase('svCustomFieldPerms_output_permissions_viewer_user_info') : phrase('svCustomFieldPerms_output_permissions_viewer') }}"
			  arg-headerDescPhrase="{{ ($field instanceof '\XF\Entity\UserField') ? phrase('svCustomFieldPerms_output_permissions_viewer_user_info_explain') : phrase('svCustomFieldPerms_output_permissions_viewer_explain') }}"
			  arg-bypassPermission="o_output_ui_bypass"
			  arg-bypassPermPhrase="{{ phrase('svCustomFieldPerms_output_content_owner_bypass_explain') }}"
			  />
	<xf:macro name="permission"
			  arg-field="{{ $field }}"
			  arg-fieldName="c_output_ui"
			  arg-headerPhrase="{{ phrase('svCustomFieldPerms_output_permissions_content') }}"
			  arg-headerDescPhrase="{{ phrase('svCustomFieldPerms_output_permissions_content_explain') }}"
			  />
</xf:if>

<xf:macro name="permission"
		  arg-field="!"
		  arg-fieldName="!"
		  arg-headerPhrase="!"
		  arg-headerDescPhrase="!"
		  arg-bypassPermission=""
		  arg-bypassPermPhrase=""
		  >
	<xf:if is="$field.hasCustomFieldPerm($fieldName)">
	<h3 class="block-formSectionHeader">
		<span class="collapseTrigger collapseTrigger--block" data-xf-click="toggle" data-target="< :up:next">
			<span class="block-formSectionHeader-aligner">{$headerPhrase}</span>
		</span>
	</h3>
	<xf:set var="$fieldEnable" value="{{ 'cfp_' . $fieldName . '_enable' }}" />
	<xf:set var="$fieldVal" value="{{ 'cfp_' . $fieldName . '_val' }}" />
	<div class="block-body block-body--collapsible">
		<xf:selectrow name="{$fieldEnable}"
					  value="{{ $field.{$fieldEnable} }}"
					  label="{{ phrase('svCustomFieldPerms_permissions_enable_label') }}"
					  explain="{$headerDescPhrase}"
					  >
			<xf:option label="{{ phrase('no') }}" value="0" />
			<xf:option label="{{ phrase('yes') }}" value="1" />
		</xf:selectrow>

		<xf:if is="$bypassPermission && $field.hasCustomFieldPerm($bypassPermission, true)">
			<xf:set var="$bypassField" value="{{ 'cfp_' . $bypassPermission }}" />
			<xf:selectrow name="{$bypassField}"
						  value="{{ $field.{$bypassField} }}"
						  label="{{ phrase('svCustomFieldPerms_content_owner_bypass') }}"
						  explain="{$bypassPermPhrase}"
						  >
				<xf:option label="{{ phrase('no') }}" value="0" />
				<xf:option label="{{ phrase('yes') }}" value="1" />
			</xf:selectrow>
		</xf:if>

		<xf:set var="$groups" value="{{ $field.field_id ? $field.{$fieldVal} : [-1] }}" />
		<xf:macro name="helper_user_group_edit::checkboxes"
				  arg-id="userGroup_{$fieldVal}"
				  arg-selectedUserGroups="{$groups}"
		/>
	</div>
	</xf:if>
</xf:macro>